@font-face {
    font-family: 'IBMPlexSerif-Light'; /*a name to be used later*/
    src: url('IBMPlexSerif-Light.ttf'); /*URL to font*/
}

#container {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(-90deg);
}

.block{
    display: block;
    text-align: center !important;
}

.lectures{
    transform: translateY(-20%);
    animation: fadeIn 1.5s 1;

}

.visual--img {
    height: 15em;
}

.classroom-text-container--medium {
    font-family: "IBMPlexSerif-Light";
    font-size: 4em;
}

.classroom-text-container--title{
    font-family: "IBMPlexSerif-Light";
    font-size: 2em;
}

.classroom-text-container {
    font-family: "IBMPlexSerif-Light";
    font-size: 2em;
}

.classroom-text-container {
    animation: moveSlideshow 4s linear infinite;
}


.classroom-text-container--light {
    font-family: "IBMPlexSerif-Light";
    font-size: 1em;
}

.logo-1 {
    height: 70em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: zoomOut 1s 1;

}


.container {
    height:720px;
    width: 1000px;
    margin-left: 300px;
    display: inline-flex;
}

.timings {
    text-align: right;
    padding-right: 10px;
    width: 100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    font-size: 0.5em;
    box-sizing: border-box
}

.timings span {
    font-size: 200%;
    color: #696969;
}

.days {
    height: 800px;
    width: 620px;
    padding: 0px 10px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.event-racunalna {
     background-color: white;
     border-style: solid;
     border-width: 1px;
     border-left-width: 5px;
     border-color: #D1D1D1;
     border-left-color: #57b986;
     padding-left: 10px;
     padding-top: 5px;
     position: absolute;
     font-size: 0.5em;
    font-family: "IBMPlexSerif-Light";
     box-sizing: border-box;
 }

.event-praktikum {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-left-width: 5px;
    border-color: #D1D1D1;
    border-left-color: #707eb9;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    font-size: 0.5em;
    font-family: "IBMPlexSerif-Light";
    box-sizing: border-box;
}

.event-racunalna .title {
    color: #57b986;
    font-family: "IBMPlexSerif-Light";
    font-size: 200%;
}

.event-praktikum .title {
    color: #707eb9;
    font-family: "IBMPlexSerif-Light";
    font-size: 200%;
}

.logo-2 {
    height: 70em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: warp 3s 1;

}


@-webkit-keyframes autoScrolling {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -20em;
    }
}

.logo-3 {
    height: 30em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: rotate 1.5s 1;
}


@keyframes zoomOut {
    0% {
        transform: scale(10, 10);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }



}

@keyframes warp {

    from {
        clip-path:polygon(
                100% 0,100% 0,100% 0,100% 0,/*1,2,3,4*/
                0 100%,0 100%,0 100%,0 100%);/*5,6,7,8*/
    }
    40%, to {
        clip-path:polygon(
                0 50%,0 0,100% 0,100% 50%,/*1,2,3,4*/
                0 50%,0 100%,100% 100%,100% 50%);/*5,6,7,8*/
    }
}

